/* Animation */
@keyframes muncul {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes kekanan {
  0% {
    margin-left: -10em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes kekiri {
  0% {
    margin-right: -10em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Font */
@font-face {
  font-family: kanitbold;
  src: url(Kanit-Bold.ttf) format(TrueType);
}
@font-face {
  font-family: kanit;
  src: url(Kanit-Light.ttf) format(TrueType);
}
/* Style */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.head {
  overflow: hidden;
}
.garis {
  width: 100vw;
  height: 0.1px;
  background-color: #201e2b;
}
.none {
  margin: 0;
  padding: 0;
  opacity: 0;
  top: 0;
}
nav img {
  display: block;
  width: 4em;
  height: 4em;
}
.tombolhome {
  color: #fff;
  font-family: kanitbold;
  font-size: 1.7em;
  margin-left: 60vw;
  margin-top: 10px;
  transition: 0.8s;
}
.tombolhome:hover {
  text-shadow: 0 0 14px#0c0c0f;
  scale: 1.1;
}
.nav a {
  text-decoration: none;
}
.navlogo {
  justify-self: start;
  margin-left: 2em;
}
.nav {
  position: fixed;
  display: flex;
  border-bottom: 2px solid #0e0e0e;
  align-items: center;
  background-color: #201e2b;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
}
.background {
  width: 100vw;
  height: 90vh;
  top: 0;
  background-image: url(img/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head {
  position: relative;
  margin-top: 4rem;
}
.black-ing {
  width: 100vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero {
  max-width: 70vw;
  max-height: 70vw;
  margin: 0 auto;
  text-align: center;
  font-family: kanitbold;
  position: relative;
}
.hero h1 {
  color: white;
  font-size: 4em;
  text-shadow: 0 0 20px black;
  animation: kekanan 3s;
}
.hero p {
  line-height: -4em;
  color: white;
  animation: kekiri 3s;
}
.head-in {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -6em;
}
.button {
  width: 6em;
  height: 3.4em;
  text-align: center;
  background-color: white;
  border: 1.2px solid black;
  box-shadow: 0 0 4px black;
  border-radius: 10px;
  line-height: 3.4em;
  font-size: 1.3em;
  animation: muncul 3s;
  transition: 0.7s;
  color: #171717;
}
.button:hover {
  scale: 1.3;
  box-shadow: 0 0 6px #a8a8a8;
  color: black;
}
.head-in a {
  color: #171717;
  text-decoration: none;
}
.identity,
.portfoliob {
  margin-bottom: 5em;
  transform: translateY(-3em);
}
.skill,
.contact {
  transform: translateY(-3em);
}
.tengah {
  animation: blur 4s;
}

@media (max-width: 720px) {
  .tombolhome {
    margin-right: 0;
    scale: 0.8;
  }
  .tombolhome:hover {
    scale: 1;
  }
  .button {
    display: none;
  }
  .head h1 {
    font-size: 3em;
  }
  .fotodiri {
    margin-left: 0;
    width: 15rem;
    margin-top: 100px;
  }
  .mydata h3 {
    font-size: 1.2rem;
  }
  .myself .mydata h1 {
    font-family: kanitbold;
    font-size: 3em;
  }
  .tengah {
    animation: backwards blur 3s 1s;
  }
}
@media (max-width: 1024px) {
  .mydata h1 {
    font-size: 5em;
    font-family: kanitbold;
  }
}
.mydata {
  color: rgb(255, 255, 255);
}

.selfbg {
  right: 0;
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 47rem;
  background-color: #201e2b;
  box-shadow: -5px -1px 30px #201e2b;
}
.fotodiri {
  margin-top: 4rem;
  margin-left: 5rem;
  display: block;
  max-height: 20em;
  max-width: 20em;
  border: 4px solid #605985;
  border-radius: 50%;
}
.mydata p {
  line-height: 2em;
  font-family: kanit;
}
@media (min-width: 1024px) {
  .mydata h1 {
    font-family: kanitbold;
    font-size: 5em;
  }
}

.mydata {
  margin: 0 4rem;
}
.izi {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding-top: 4rem;
}
@media (max-width: 1024px) {
  .izi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .selfbg {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
  }
  .fotodiri {
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}
.skillin {
  width: 100%;
  background-color: #201e2b;
  padding-top: 4rem;
  height: 47em;
  margin-top: 10em;
  color: #201e2b;
}
.skillin .cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1024px) {
  .skillin .cont {
    overflow-x: scroll;
    margin: 0 2em;
  }
  .listskill {
    margin-left: 2em;
  }
}
.mydata .ig {
  width: 3em;
  margin-right: 5em;
}
.mydata img {
  width: 4em;
  margin-top: 3em;
}
.mydata .github {
  width: 3em;
  margin-left: 5em;
  border-radius: 5px;
}
.mydata .twit {
  width: 3em;
  margin-right: 5em;
}
.listskill {
  width: 16em;
  height: 31rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px #171717;
  margin-top: 2em;
  text-align: center;
  box-sizing: border-box;
}
.skillin h1 {
  display: block;
  color: white;
  text-align: center;
  font-family: kanitbold;
  font-size: 4em;
}
.skillin .cont h3 {
  font-family: kanitbold;
}
.skillin .cont p {
  font-family: kanit;
  font-size: 1.1em;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.imgskill {
  width: 16em;
  height: 13em;
}
.frontend {
  background-image: url(img/frontend.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.design {
  background-image: url(img/design.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ms {
  background-image: url(img/microsoft.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.china {
  background-image: url(img/mandarin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cont2 h1 {
  font-family: kanitbold;
  text-align: center;
  font-size: 4em;
  color: #201e2b;
}
.cont2 {
  width: 100%;
  height: calc(27rem * 4);
  padding-top: 4em;
}
.portfolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.satu {
  margin-top: 7rem;
}
.satu,
.dua,
.tiga,
.empat {
  width: 80%;
  margin-bottom: 1.7rem;
  height: 21rem;
  border: 0.5rem solid #605985;
  text-align: center;
  font-family: kanit;
  font-size: 1.2em;
  color: #201e2b;
  box-shadow: 0 0 5px #201e2b;
}
.Contact {
  width: 100%;
  padding: 4em;
  height: calc(100vh - 4rem);
  background-color: #807b97;
  bottom: 0;
  box-sizing: border-box;
}
.Contact h1 {
  font-family: kanitbold;
  text-align: center;
  font-size: 4em;
  color: #fff;
}
.cont3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: -2rem;
  color: white;
  font-family: kanit;
  font-size: 1.2em;
}
input,
textarea {
  margin-bottom: 2em;
  display: block;
  width: 23rem;
}
#submit {
  background-color: #605985;
  color: white;
  border: 0;
  width: 7rem;
  height: 3rem;
  border-radius: 3px;
  box-shadow: 0 0 3px #201e2b;
  transition: 900ms;
}
#submit:hover {
  scale: 1.3;
  box-shadow: 0 0 5px #a8a8a8;
  border-radius: 3px;
}
.is {
  box-shadow: 0 0 5px #1f1e27;
}
.footer {
  width: 100%;
  height: 5rem;
  background-color: #201e2b;
  color: white;
  font-family: kanit;
  font-size: 0.76em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.76rem;
}
.untukhome {
  display: fixed;
  z-index: 100;
  top: 0;
}
@media (max-width: 375px) {
  .tombolhome {
    width: 1em;
    margin-top: 0.3rem;
  }
  .navlogo img {
    width: 2rem;
    height: 2rem;
    margin-right: 0;
    margin-top: -1rem;
  }
  .nav {
    height: 3.4rem;
  }
  .head {
    margin-top: 3.4rem;
  }
  .head h1 {
    font-size: 2.1em;
  }
  .head p {
    font-size: 1em;
  }
  .tengah {
    animation: backwards blur 3s 1s;
  }
  .myself .mydata h3 {
    font-size: 0.7em;
  }
  .myself .mydata h1 {
    font-size: 1.5em;
  }
  .mydata p {
    font-size: 0.8em;
  }
  .myself .mydata .twit {
    margin-right: 2rem;
    left: 0;
  }
  .myself .mydata .github {
    margin-left: 2rem;
  }
  .cont3 {
    scale: 0.8;
  }
  .cont2 .portfolio p {
    font-size: 0.8em;
  }
  .cont2 .portfolio .satu,
  .dua,
  .tiga,
  .empat {
    border: 2px solid #605985;
  }
  .Contact h1 {
    margin-left: -0.8rem;
  }
  .tengah {
    display: none;
  }
  .judulers {
    position: relative;
    top: 10rem;
  }
}
